<header>

    <div class="title-info py-3">
        <div class="flex justify-between items-center container mx-auto ">
            <span>РЕМОНТ БЫТОВОЙ ТЕХНИКИ И ТЕХНИЧЕСКОГО ОБОРУДОВАНИЯ</span>
            <div class="flex self-center">
                <span class="px-1.5">manager@service-krasnodar</span>
                <span class="px-1.5">г. Краснодар, ул. Шевченко 152</span>
            </div>
        </div>
    </div>

    <div class="container mx-auto flex items-center justify-between">

        <div class="logo"><img src="img/logo.svg" alt=""></div>

        <div class="flex flex-col flex-grow-0">
            <div class="flex">
                <div class="title self-end pr-3 pb-3"><p>СЕРВИСНЫЙ ЦЕНТР</p></div>

                <div class="contacts">
                    <div class="phone flex py-3">
                        <div class="flex flex-col px-1.5">
                            <span>+7 (928) 407-99-94</span>
                            <span class="text-center py-2">(приемная зона)</span>
                        </div>
                        <div class="flex flex-col px-1.5">
                            <span>+7 (861) 239-77-61</span>
                            <span class="text-center py-2">(телефон/факс)</span>
                        </div>
                        <div class="flex flex-col px-1.5">
                            <span>+7 (918) 955-95-91</span>
                            <span class="text-center py-2">(многоканальный)</span>
                        </div>
                    </div>

                    <div class="work-time">
                        <div class="days flex">
                            <span>Режим работы:</span>
                            <span class="px-1.5">Пн.-пт. с 9.00 до 19.00 </span>
                            <span class="px-1.5">Суббота с 10.00 до 16.00</span>
                            <span class="px-1.5">Воскресенье - выходной</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="menu">
                <ul class="flex justify-between uppercase my-7">
                    <li class="px-1.5"><a href="">главная</a></li>
                    <li class="px-1.5"><a href="">ремонт</a></li>
                    <li class="px-1.5"><a href="">аторизация</a></li>
                    <li class="px-1.5"><a href="">запчасти</a></li>
                    <li class="px-1.5"><a href="">контакты</a></li>
                    <li class="px-1.5"><a href="">что с моим заказом?</a></li>
                </ul>



                
                
                

            </div>
        </div>



    </div>
</header>
